body{
	background:#fff ;
}

.container{
	min-width: 1200px;
	/*background: #f2f2f2;*/
}
.indivie_center{
	border: 1px solid;
}
.indivie_center ul{
	margin-left: 6px;
}
.indivie_center_icon1 img{
	margin-left: 6px;
}
.indivie_center_icon1{
	
	font-size: 16px;
	width: 168px;
	height: 58px;
	line-height: 58px;
	border-bottom: 1px solid;
	margin-bottom: 20px;
	
}
.indivie_center_contentBig{
	margin-bottom: 20px;
	font-size: 20px;
	 font-weight:blod;
	 position: relative;
}
.indivie_center_contentBig img{
	position: absolute;
	right: 10px;
}
.indivie_center_icon{
	font-size: 16px;
	margin-bottom: 20px;
}
.myCount_intro{
	/*background: #fff4ec;*/
	height: 144px;
	
}
.myCount_intro_left{
position: relative;

	
}
.myCount_intro_left img{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 22px;
	left: 22px;
}
.myCount_nickname{
position: absolute;
top: 61px;
left: 131px;
font-size: 18px;
font-weight: bold;
}
#myCount_nickname1{
	color: red;
}
.myCount_intro_right{
	height: 144px;
	display: flex;
	justify-content: space-between;
	
}
.myCount_intro_right span{
	display: block;
	width: 33%;
	height: 100%;
	text-align: center;
	margin-top: 56px;
}
.myCount_class{
	height: 210px;
	
	
}
.myCount_myClass span{
	display: block;
}
.myCount_myClass{
	display: block;
	margin: 38px 22px;
	height: 22px;
	display: flex;
	justify-content: space-between;
}
.myCount_myClass1{
font-size: 18px;
}
.myCount_myClass1 img{
	margin-left: 8px;
	height: 20px;
	
}
#myCount_rechargMoney{
	display: block;
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 22px;
	width: 72px;
	height: 22px;
	background: orange;
	border-radius: 3px;
	z-index: 5;
	
}
.myCount_myRank{
	height: 45px;
	display: flex;

	justify-content: space-around;
}
.myCount_myRank span:nth-child(odd){
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background:url(../img/qx_myCount_img/椭圆红色.png);
	color: white;
	font-size: 20px;
	line-height: 30px;
	
}

.myCount_myRank span:nth-child(even){
	display: block;
	width: 100px;
	height: 8px;
	box-sizing: border-box;
	background:lightgray;
	margin-top: 12px;
	
}
.myCount_myRank span:nth-child(2){
	background: red;
}
.myCount_myRank_score{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-between;
	
}

.myCount_myRank_score span{
	display: block;
	width: 58px;
	height: 20px;
	
}
.myCount_myRank_score span:nth-child(7){
	display: block;
	text-align: right;
}

.myCount_ticket{
	z-index: 5;
}

/*底部导航的样式****************/
.center-block{
	text-align: center;
}
.navigation_statistics{
	width: 28%;
	height: 30px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
}
.navigation_statistics_num{
	width: 50px;
	height: 32px;
	border: 1px solid;
}
.navigation_sure{
	width: 75px;
	height: 30px;
	background: cornflowerblue;
	text-align: center;
	line-height: 30px;
	color: white;
	border-radius: 5px;
}
.myOrderer_content{
	text-align: center;
}
