.pointer {
	cursor: pointer;
}
html {
	cursor: default;
}
#footer,#header {
	min-width: 1200px;
}
.xjx_location .container {
	min-width: 1200px;
}
.xjx_location {
	width: 100%;
	min-width: 1200px;
	background-color: #eee;
}
.xjx_position {
	height: 55px;
	line-height: 55px;
	color: #666;
	font-size: 14px;
}
.xjx_position img {
	vertical-align: top;
	margin: 22px 5px;
}
.xjx_position .active {
	color: #ec6a17;
}
/*页面主体内容*/
.shop_shop {
	height: 300px;
	background-color: white;
	display: flex;
	justify-content: space-between;
}
.shop_goods {
	padding: 20px;
}
/*轮播*/
.goods_show {
	float: left;
	width: 360px;
	height: 260px;
	position: relative;
}
.goods_big {
	overflow: hidden;
	height: 200px;
	width: 360px;
}
.goods_small {
	height: 60px;
	background-color: #f2f2f2;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
.goods_show .goods_fangda {
	position: absolute;
	z-index: 999;
	display: none;
	top: 0;
	left: 400px;
}
.goods_small>img {
	display: inline-block;
	width: 14px;
	height: 26px;
	padding: 17px 8px;
	box-sizing: content-box;
	position: absolute;
	z-index: 99;
	background-color: #f2f2f2;
}
.goods_prev {
	left: 0;
}
.goods_next {
	right: 0;
}
.goods_big ul {
	width: 2880px;
	left: -720px;
}
.goods_big ul li {
	height: 100%;
	position: relative;
}
.goods_small ul {
	overflow: hidden;
	height: 60px;
	margin: 0;
	left: -120px;
}
.goods_small .active img {
	border: 1px solid red;
}
.goods_small ul li {
	margin-top: 10px;
	margin-right: 3px;
	width: 72px;
	height: 42px;
}
.goods_show>div {
	position: relative;
}
.goods_small ul img {
	width: 72px;
	height: 42px;
	box-sizing: border-box;
}
.goods_show ul {
	position: absolute;
}
.goods_show ul li {
	float: left;
}

.small {
	width: 360px;
	height: 200px;
	position: relative;
}
.small img {
	width: 100%;
}
/*放大镜*/
.zoom {
	position: absolute;
	left: 0;
	top: 0;
	width: 180px;
	height: 100px;
	background-color: rgba(200,200,200,0.6);
	display: none;
	cursor: move;
}
.big {
	width: 360px;
	height: 200px;
	position: relative;
	overflow: hidden;
	display: none;
}
.big img {
	width: 720px;
	height: 400px;
	position: absolute;
}

/*商品信息*/
.goods_info {
	color: #666;
	margin-left: 400px;
}
.goods_shop {
	font-size: 24px;
	color: #008de1;
}
.goods_text {
	font-size: 14px;
}
.goods_geren {
	height: 100px;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.goods_geren>div>.glyphicon {
	margin-right: 10px;
	color: #ff6c00;
}
.goods_notice {
	display: block;
	font-size: 16px;
	color: #008de1;
	margin-top: 10px;
}
/*店铺信息*/
.shop_info {
	flex: 0 0 300px;
	/*width: 300px;*/
	background-color: #f0f9ff;
	position: relative;
}
.shop_pinpai {
	padding: 20px;
	height: 50px;
	box-sizing: content-box;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.shop_pinpai>div {
	width: 200px;
}
.shop_pinpai>div>span:first-child {
	font-weight: bold;
}
.shop_pinpai .progress {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	height: 6px;
	width: 80px;
	background-color: #d3d3d3;
}
.shop_pinpai .progress .progress-bar {
	background-color: #ec6a17;
}
.shop_zongfen {
	margin-left: 5px;
}
.shop_pingfen {
	height: 50px;
	padding: 10px 0;
	box-sizing: content-box;
	display: flex;
	justify-content: space-around;
}
.shop_pingfen>div:nth-child(2) {
	border-left: 1px dashed #d3d3d3;
	border-right: 1px dashed #d3d3d3;
}
.shop_pingfen>div {
	padding: 0 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.shop_pingfen>div>span:first-child {
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}
.shop_pingfen>div>span:last-child {
	font-size: 16px;
	color: #ec6a17;
	white-space: nowrap;
}
.shop_kefu {
	padding: 20px;
	height: 80px;
	font-size: 14px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.shop_kefu>div {
	font-weight: bold;
}
.shop_kefu .shop_btn {
	display: inline-block;
	height: 30px;
	width: 125px;
	font-weight: normal;
	line-height: 30px;
	text-align: center;
	margin-left: 25px;
	color: white;
	background-color: #ec6a17;
	border-radius: 5px;
}
.shop_kefu .shop_btn img {
	margin-right: 10px;
}

/*合作商家*/
.shop_hezuo {
	width: 50px;
	height: 50px;
	font-size: 14px;
	padding: 5px 0;
	box-sizing: content-box;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	background-color: #ff6c00;
}
.shop_hezuo:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #f0f9ff;
	/*border: 25px 10px transparent solid;*/
	left: 0;
	bottom: 0;
}
