.pointer {
	cursor: pointer;
}
html {
	cursor: default;
}
#footer,#header {
	min-width: 1200px;
}
/*轮播*/
.carousel {
	height: 470px;
}
.carousel-inner,.home_lunbo {
	height: 100%;
}
#home_Carousel .home_lunbo img {
	width: 100%;
	min-width: 1200px;
	height: 100%;
}
#myCarousel .carousel-indicators li {
	width: 15px;
	height: 15px;
	border: none;
	background-color: black;
}
#myCarousel .carousel-indicators li.active {
	background-color: #ff6c00;
}
/*内容*/
.xjx_jifen .container {
	min-width: 1200px;
}
.xjx_jifen {
	width: 100%;
	min-width: 1200px;
	padding-bottom: 20px;
	background-color: #eee;
}
.jifen_goods {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.jifen_shangpin {
	width: 220px;
	background-color: white;
	margin-bottom: 10px;
	border: 1px solid #e1e1e1;
}
.jifen_shangpin.active {
	border-color: #ff6c00;
}
.jifen_shangpin img {
	width: 100%;
}
.jifen_xinxi {
	padding: 20px;
	width: 180px;
	box-sizing: content-box;
}
.jifen_name {
	font-size: 14px;
	color: #666;
	line-height: 1.8em;
}
.jifen_price {
	margin-top: 20px;
}
.jifen_price>span:first-child {
	font-size: 18px;
	margin-right: 30px;
	color: #f15555;
}
.jifen_price>span:last-child {
	font-size: 14px;
	color: #666;
}
.jifen_btn {
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 20px auto 0;
	color: white;
	background-color: #ec6a17;
	border-radius: 5px;
}
/*页码*/
.navigation_statistics_num {
	width: 40px;
	height: 30px;
	border: 1px solid;
	outline: none;
	text-align: center;
	margin: 0 10px;
}
.navigation_sure {
	display: inline-block;
	width: 75px;
	height: 30px;
	margin: 0 10px;
	background: cornflowerblue;
	text-align: center;
	line-height: 30px;
	color: white;
	border-radius: 5px;
}
.center-block {
	text-align: center;
}
/*地址样式*/
.cart_newdizhi {
	font-size: 16px;
}
.cart_areaInfo {
	font-size: 18px;
}
.cart_areaInfo {
	display: inline-block;
	width: 140px;
	margin-top: 20px;
	margin-left: 10px;
}
.cart_areaInfo>span {
	color: #ff6c00;
}
.shouhuoName {
	width: 330px;
}
.detailArea {
	width: 460px;
}
.lianxiPhone {
	width: 150px;
}
.quhao {
	width: 50px;
}
.gudingPhone {
	width: 125px;
}
.cart_newdizhi input {
	height: 35px;
	outline: none;
	text-align: center;
}
.cart_quren {
	margin-left: 150px;
	margin-top: 40px;
	display: block;
	width: 170px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #ff6c00;
	color: white;
	border-radius: 5px;
}
/*三级联动*/
.cart_liandong {
	display: inline-block;
	vertical-align: bottom;
}
.cart_liandong .item {
	float: left;
	width: 140px;
	box-sizing: content-box;
	padding-right: 20px;
	position: relative;
}
.cart_liandong .item div {
	width: 140px;
	height: 280px;
	display: none;
	position: absolute;
	left: 0;
	top: 35px;
	overflow-x: hidden;
	overflow-y: auto;
}
.cart_liandong .item i {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-style: normal;
	color: #363636;
	cursor: pointer;
	border: 1px solid #d3d3d3;
}
.cart_liandong .item ul {
	display: none;
	width: 100%;
	border: 1px solid #ddd;
	background-color: white;
}
.cart_liandong .item ul li {
	height: 35px;
	white-space: nowrap;
	line-height: 35px;
	text-align: center;
}
.cart_liandong .item ul li a {
	display: block;
	color: #333;
	text-decoration: none;
	transition: all .5s ease 0s;
}
.cart_liandong .item ul li a:hover {
	color: #fff;
	background-color: #008BD9;
	font-weight: bold;
}

/*弹出框*/
.cart_tianjia {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,.5);
}
.tianjia_wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 440px;
	width: 656px;
	border: 5px solid #e2e2e2;
	background-color: white;
}
.area_tianjia {
	height: 58px;
	border-bottom: 1px solid #e2e2e2;
}
.area_tianjia>span {
	margin-left: 30px;
	line-height: 58px;
	font-size: 18px;
	color: #008de1;
}
.area_btn {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}
.area_btn>span {
	font-size: 18px;
	height: 35px;
	width: 90px;
	line-height: 35px;
	text-align: center;
	border-radius: 5px;
	color: white;
}
.area_fanhui {
	background-color: #999;
}
.area_baocun {
	background-color: #ec6a17;
}

.cart_tianjia {
	display: none;
}