body {
	cursor: default;
}
#footer,#header {
	min-width: 1200px;
}
.pointer {
	cursor: pointer;
}
.cart_con .container {
	margin: 27px auto 40px;
	border: 1px solid #d3d3d3;
	min-width: 1200px;
}
.cart_wrap {
	padding: 40px;
}
.cart_img {
	height: 120px;
	border-bottom: 1px solid #d3d3d3;
	display: flex;
	justify-content: space-between;
}
.cart_img img {
	width: 140px;
	height: 80px;
}

.cart_step {
	width: 724px;
	height: 44px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.cart_step span {
	width: 210px;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
	color: #333;
	margin-left: 20px;
	position: relative;
	background-color: #e5e5e5;
}
.cart_step span:before,.cart_step span:after {
    content: "";
    display: inline-block;
	position: absolute;
    width: 0;
    height: 0;
}
#cart_sure:before,#cart_order:before {
	border: 22px solid #e5e5e5;
    left: -22px;
    border-left-color: transparent;
}
#cart_me:after,#cart_sure:after {
	border: 22px solid transparent;
	right: -44px;
    border-left-color: #e5e5e5;
}
#cart_me.active,#cart_sure.active,#cart_order.active {
	background-color: #ff6c00;
}
#cart_me.active:after {
    border-left-color: #ff6c00;
}
#cart_sure.active:before {
	border: 22px solid #ff6c00;
    left: -22px;
    border-left-color: transparent;
}
#cart_sure.active:after {
	border: 22px solid transparent;
	right: -44px;
    border-left-color: #ff6c00;
}
#cart_order.active:before {
	border: 22px solid #ff6c00;
    left: -22px;
    border-left-color: transparent;
}
.cart_success {
	padding: 80px 0 60px;
	height: 320px;
	width: 100%;
	box-sizing: content-box;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cart_success img {
	width: 78px;
	height: 78px;
	margin: 0 auto;
}
.cart_success h3 {
	font-size: 36px;
	color: #666;
}
.cart_success div {
	width: 170px;
	height: 45px;
	font-size: 18px;
	margin: 0 auto;
	line-height: 45px;
	color: white;
	background-color: #ec6a17;
	border-radius: 5px;
}
.cart_success p {
	font-size: 18px;
}
